{erl_opts, [debug_info]}.
{deps, [
    {mysql_otp, {git, "https://github.com/mysql-otp/mysql-otp", {tag, "1.7.0"}}},
    {elmorm, {git, "https://github.com/karl-xie/elmorm", {branch, "main"}}}
]}.

{profiles, [
	{prod, [
        {erl_opts, [no_debug_info]},
		{overrides, [
			{override, mysql_otp, [{erl_opts, [no_debug_info]}]},
            {override, elmorm, [{erl_opts, [no_debug_info]}]}
		]}
	]}
]}.